.*/
min-caml/test/*.s
*.out
*.res
*.ans
*.cmp
*.syntax
*.globalVar
*.kNormal
*.alpha
*.cse
*.closure
*.virtual
*.simm
*.virtualElim
*.peephole
*.constRegAlloc
*.regAlloc
*.top
*.cmo
*.cmi
*.o
.ocamlformat
lexer.ml
parser.ml
parser.mli
min-caml/min-caml
